<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Queue</title>

    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/startDesktop.css">
</head>
<body>
<header>
    <div id="logo">
        <img src="/images/startPage/logo.png" alt="logo">
        <span id="group-queue-logo-name">roupQ</span>
    </div>

    <div id="registration-buttons">
        <button id="sign-in-button" class="button empty-button">Sign in</button>
        <button id="sign-up-button" class="button dark-button">Sign up</button>
    </div>
</header>
</body>
</html>