@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

@media only screen and (min-width: 700px) {

    :root {
        --fadedBlue: #5b6e90;
    }

    /*top right registration buttons*/
    .registration-buttons {
        margin-right: 1em;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    /*logo image*/
    .logo img {
        height: 1em;
        margin-left: 15em;
        margin-right: 1em;
    }

    /*logo name*/
    .logo span {
        color: var(--fadedBlue);
        font-size: 2em;
        font-family: 'Montserrat SemiBold', sans-serif;
        font-weight: 900;
    }

}